* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),  url('./Merkury_Landing\ Page.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    width: 1200px;
    padding: 53px 155px;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header .logo img{
    height: 62px;
}